@keyframes fadein{
	from{
		opacity: 0;
	}
	to{
		opacity : 1;
	}

}

#login-form{
	width:80%;
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	animation: fadein 3s;
	-moz-animation: fadein 3s; /* Firefox */
	-webkit-animation: fadein 3s; /* Safari and Chrome */
}

#login-form input{
	margin-top: 40px;
    height: 55pt;
    text-align: center;
    justify-content: center;
    background-color:transparent;  
}

#login-form input[type="text"]{
	color: white;
    font-size: 55pt;
    width: 80%;
    border:0 ;
    border-bottom:3px double;
}

#login-form input[type="submit"]{
    background-color: rgba( 255, 255, 255, 0.5 );
    font-size: 30pt;
    width: 130px;
    border-radius: 60% 50% 60% 70%;
    margin-left:10pt;
}